<div [formGroup]="form">
	<div>
		<input type="text" formControlName="integrationTypeId">
  </div>
  <div>
  <input type="text" formControlName="enabled">
</div>
  
  <div>
    <button (click)="addNewAddressGroup()">Add</button>
  </div>

    <div *ngFor="let addressGroup of form.get('warehouseAutomationParameters').controls;let i = index" [formGroup]="addressGroup">

      form No : {{i}}
        <div>
          street <input formControlName="name">
        </div>

         <div>
          city <input formControlName="value">
        </div>
        <button (click)="deleteAddressGroup(i)" >Delete - {{i}}</button>
    </div>
</div>

<br>
<br>
<br>
<br>
result <br>

<pre>
{{form.value | json}}
</pre>