<div [formGroup]="form" onsubmit="save()">
	<div>
		<input type="text" formControlName="integrationTypeId">
  </div>
  <div>
  <input type="text" formControlName="enabled">
</div>
  
  <div>
    <button (click)="addNewAddressGroup()">Add</button>
  </div>

    <div *ngFor="let addressGroup of form.get('warehouseAutomationParameters').controls;let i = index" [formGroup]="addressGroup">

      form No : {{i}}
        <div>
          street <input formControlName="name">
        </div>

         <div>
          city <input formControlName="value">
        </div>
        <button (click)="deleteAddressGroup(i)" >Delete - {{i}}</button>
    </div>
</div>

<button (click)="save()">Save</button>


<!-- <pre>
{{form.value | json}}
</pre> -->

<div>


<table>
<tr>
  <th>Company</th>
  <th>Contact</th>
  <th>Country</th>
</tr>
<tr *ngFor="let item of auto;let i=index">
  <td>{{item.integrationTypeId}}</td>
  <td>{{item.enabled}}</td>
  <td>
    <tr *ngFor="let m of item.warehouseAutomationParameters">
      <td>{{m.name}}</td>
      <td>{{m.value}}</td>

      <tr>
  
  </td>
  <td>
  <button (click)="edit(i)">Edit</button>
  </td>
</tr>

</table>
</div>